.container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* percentage does not work because every ancestor take height of its content */
}

.calculator {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    padding: 10px;
    background-color: #ffedf0;
}

.view {
    text-align: right;
    padding: 20px 10px 0px 20px;
    /* top, right, bottom, left */
    background-color: #ffffff;
}

.main {
    display: flex;
    padding: 5px 0px 0px 0px;
}

.column1,
.column2,
.column3,
.column4 {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
}

button {
    font-size: 20px;
    padding: 20px;
    width: 90px;
    border: 1px dashed #cccccc;
}

.number {
    background-color: #ffedf0;
}

.clear,
.equal,
.operator,
.sign,
.percent {
    border: 1px dashed #cccccc;
}

#zero {
    flex-grow: 2;
}