.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* percentage does not work because every ancestor take height of its content */
}

.calculator {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 5px;
}

.view {
    font-size: 30px;
    text-align: right;
    border: 1px solid #000000;
    padding: 20px 10px 0px 20px;
}

.main {
    display: flex;
    padding: 5px 0px 0px 0px;
}

.column1,
.column2,
.column3,
.column4 {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
}

button {
    font-size: 30px;
    padding: 20px;
    width: 90px;
}

.zero {
    flex-grow: 2;
}